body {
    margin: 0;
    overflow-x: hidden;
}
.app {
    // width: 100vw;       // idk if necessarily
    // overflow: hidden;   // idk if necessarily
    position: relative;
    .image-slider {
        position: relative;
        margin: 0 auto;
        max-width: 420px;
        .image-slider-wrapper {
            display: flex;
            position: absolute;

            transition: 300ms transform cubic-bezier(0.445, 0.05, 0.55, 0.95);

            .single-image-container {
                flex: 1;
                min-width: 520px;
                padding: 10px;
                margin: auto -80px;
                
                opacity: 0.6;
                transform: scale(0.5);
                transition:  300ms transform cubic-bezier(0.445, 0.05, 0.55, 0.95), 300ms opacity linear;
                img {
                    max-width: calc(100%);    
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        $i: 0;
        @for $i from 0 through 8 {
            .image-slider-wrapper.active-slide-#{$i} .image-container-#{$i} {
                opacity: 1;
                transform: scale(1);
                z-index: 100;
            }
        }

    }
}